@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0, -1000px;
  }
}
* {
  box-sizing: border-box;
}

body {
  animation: animatedBackground 30s linear infinite;
  color: white;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  margin: 0;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3.5rem;
  margin: 0;
  font-weight: 700;
}

h2 {
  font-weight: 600;
  margin: 0 0 1.5rem 0;
  text-align: center;
  font-size: 2.8rem;
  color: #666;
  text-transform: uppercase;
  width: fit-content;
}

h3 {
  font-weight: 500;
  font-size: 2rem;
  color: #666;
  margin: 0 0 1.5rem 0;
}

h4 {
  margin: 0;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.7;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#avatar {
  border-radius: 20%;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

a, button {
  text-decoration: none;
  outline: none;
  border: none;
  background: inherit;
  color: inherit;
  font-weight: 400;
  font-size: 18px;
}
a:hover, button:hover {
  transform: scale(1.1);
}

img {
  width: 100%;
}

section p {
  color: #333;
}

.wrapper {
  width: min(1200px, 100% - 2rem);
  margin: 0 auto;
}

.padding_tb {
  padding: 30px 0;
}
@media (min-width: 50em) {
  .padding_tb {
    padding: 60px 0;
  }
}

header {
  overflow: hidden !important;
  position: relative;
  height: 100vh;
  background: linear-gradient(293deg, #ED355B 0%, #1976D2 100%);
  z-index: 2;
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.hero h1, .hero h2, .hero h3 {
  color: white;
}
@media (min-width: 700px) {
  .hero {
    flex-direction: row;
    text-align: left;
  }
}
.hero .logo {
  margin: 0 auto;
  flex: 1 1 0px;
}
@media (min-width: 700px) {
  .hero .logo {
    flex-direction: row;
    width: 100%;
    margin-left: auto;
  }
}
.hero .playstore {
  display: inline-block;
  transition: transform 0.4s;
}
.hero .playstore img {
  max-width: 180px;
}
.hero .playstore:hover {
  transform: scale(1.05);
}
.hero .text {
  flex: 1 1 0px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 700px;
}

.background-alert {
  background-image: linear-gradient(293deg, #ED355B 0%, #1F65DB 100%);
  margin-bottom: 3rem;
}
.background-alert .alerts-section h2, .background-alert .alerts-section h3, .background-alert .alerts-section p {
  color: white;
}
.background-alert .alerts-section h2 {
  margin: 1rem auto 3.5rem;
}

.alerts {
  display: flex;
  gap: 1.5rem;
}
.alerts .alert {
  flex: 1 1 0px;
  max-width: 450px;
  aspect-ratio: 1.49/1;
}
.alerts .alert .alert-text {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 1rem 0.2rem;
}
.alerts .alert .alert-text p {
  font-size: 16px;
  text-align: center;
}
.alerts .alert img {
  object-fit: cover;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.hero-boxes {
  color: #666;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  margin-top: -50px;
  position: relative;
  z-index: 3;
}
.hero-boxes .box {
  background-color: white;
  text-align: center;
  width: 23%;
  padding: 0.5rem 0.7rem;
  border-radius: 7px;
  box-shadow: 0px 0px 47px -12px rgba(0, 0, 0, 0.75);
}
.hero-boxes .box p {
  font-size: 14px;
}
.hero-boxes .box-icon {
  max-width: 66px;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.description {
  color: #666;
  text-align: center;
}
.description h2 {
  margin: 0 auto 2rem auto;
}

.about {
  text-align: center;
}
.about h2 {
  margin: 0 auto 1.5rem auto;
}
.about .about-info {
  text-align: left;
  display: flex;
  margin-top: 3rem;
  gap: 1.5rem;
}
.about .about-info p {
  margin-bottom: 1rem;
}
.about .about-info > div {
  flex: 1 1 0px;
}
.about .about-info_video img {
  border-radius: 7px;
}

.test {
  border-right: solid white;
  width: fit-content;
  font-size: 2rem;
  transition: all 0.5s;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  z-index: 1000;
}

.footer {
  padding: 2rem 0;
  background: #404040;
  color: white;
}
.footer .footer_container {
  display: flex;
  justify-content: space-between;
}
.footer_buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: end;
  cursor: pointer;
}

.carousel {
  margin-bottom: 6rem;
  color: #333;
}
.carousel .carousel-intro {
  margin-bottom: 1.5rem;
  text-align: center;
}
.carousel .carousel-intro h2, .carousel .carousel-intro p {
  margin: 0 auto 2rem auto;
}
.carousel .carousel-intro p {
  max-width: 800px;
  margin-bottom: 2rem;
}
.carousel .slides {
  gap: 1rem;
}
.carousel .slides img {
  max-width: 192px;
  width: 100%;
}
.carousel .slides .slick-slide {
  opacity: 0.6;
  display: inline-block;
}
.carousel .slides .slick-slide.slick-current, .carousel .slides .slick-slide.slick-center {
  opacity: 1;
}
.carousel .slick-dots {
  bottom: -45px;
}

/*# sourceMappingURL=style.css.map */
