header {
    overflow: hidden !important;
    position: relative;
    height: 100vh;
    background: linear-gradient(293deg, #ED355B 0%, #1976D2 100%);
    z-index: 2;
    display: flex;
    align-items: center;
    @media (min-width: $tablet-md) {
        height: calc(100vh + 50px);
    }

}

.hero {
    display: flex;
    //gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center ;
    margin-top: 1.5rem;
    height: 100%;

    h1,h2,h3 {
        color: white;
    }

    @media (min-width: $tablet-md) {
        flex-direction: row;
        text-align: left;
        gap: 3rem;
        margin-top: 0;
    }

    .logo {
        margin:0 auto;
        flex: 1 1 0px;
        width: 90%;

        @media (min-width: $tablet-md) {
            flex-direction: row;
            width: 100%;
            margin-left: auto;
        }


        img {
            //height: 100%;

        }
    }

    .playstore {
        display: inline-block;
        transition: transform 0.4s ;

        img {
            max-width: 180px;
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    .text {
        flex: 1 1 0px;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        max-width: 700px;
    }
}

.background-alert {
    background-image: linear-gradient(293deg, #ED355B 0%, #1F65DB 100%);
    margin-bottom: 3rem;

    .alerts-section {

        h2,h3,p {
            color: white;
        }

        h2 {
            margin: 1rem auto 3.5rem;
        }
    }
}

.alerts {
    //display: flex;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

    .alert {
        aspect-ratio: 1.49/1;

        @media (min-width: $tablet-md) {
            max-width: 450px;
        }

        .alert-text {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 1rem 0.2rem;

            p {
                font-size: 16px;
                text-align: center;
            }
        }


        img {
            object-fit: cover;
            border-radius: 8px;

            height: 100%;
            width: 100%;
        }

    }
}

.hero-boxes {
    color: #666;
    gap: 2rem;
    margin-top: 20px;
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(2,minmax(130px,1fr));

    @media (min-width: $tablet-sm) {
        margin-top: -50px;
        grid-template-columns: repeat(auto-fit,minmax(130px,1fr));
    }

    .box{
        background-color: white;
        text-align: center;
        padding: 0.5rem 0.7rem;
        border-radius: 7px;
        box-shadow: 0px 0px 47px -12px rgba(0,0,0,0.75);
        width: 100%;

        p {
            font-size: 14px;
        }

        &-icon {
            max-width: 66px;
            margin: 0 auto;
            margin-bottom: 0.5rem;
        }
    }
}

.description {
    color: #666;
    text-align: center;

    h2 {
        margin: 0 auto 2rem auto;
    }
}

.about {
    text-align: center;
    h2 {
        margin: 0 auto 1.5rem auto;
        text-align: center;
        @media (min-width: $tablet-lg) {
            text-align: left;
            margin: 0 auto 1.5rem 0
        }

    }
    .about-info {
        margin-top: 3rem;
        gap: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;

        @media (min-width: $tablet-lg) {
            grid-template-columns: 1fr 1fr;
            text-align: left;
        }

        p {
            margin-bottom: 1rem;
        }

        &_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &_media {
            img {
                object-fit: cover;
                border-radius: 7px;
                width: auto;
                margin:0 auto;
                display: flex;

                @media (min-width: $tablet-lg) {
                    margin-left: auto;
                    margin-right: 0;
                    padding-right: 50px;
                }
            }
        }
    }
}

.faqs {
    &_container{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        $gap:30px;
        gap: $gap;
        @media (min-width: $tablet-lg) {
            grid-template-columns: calc(45% - $gap) calc(55% - $gap);
            text-align: left;
        }

        h2{
            margin: 0 auto 0.5rem;
            @media (min-width: $tablet-lg) {
                margin: 0 auto 0.5rem;
            }
        }

        p {
            text-align: center;
        }
    }

    &_list{
        .item{
            color: $text-color;
            position: relative;
            max-width: 600px;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            cursor: pointer;
            margin: 0 auto;
            text-align: left;

            &:hover {
                .question{
                    opacity: 0.7;
                }
            }

            .open-button{
                position: relative;
                width: 15px;
                height: 2px;

                &.active{
                    span::after {
                        transform: rotate(90deg);
                    }

                    span::before {
                        transform: rotate(180deg);
                    }
                }
            }

            .item-content {
                &.active {
                    .question{
                        font-size: 1.17em;
                        font-weight: 500;
                        opacity: 1;
                    }

                    .answer{
                        display: block;
                    }
                }
            }

            span{
                &::after {
                    content: "";
                    position: absolute;
                    background: #666;
                    transition: transform 100ms;
                    width: 2px;
                    height: 12px;
                    right: 5px;
                    top: 7px;
                    margin-top: -1px;
                    //transform: rotate(180deg);
                }

                &::before {
                    content: "";
                    position: absolute;
                    background: #666;
                    transition: transform 100ms;
                    height: 2px;
                    width: 12px;
                    right: 0;
                    top: 12px;
                    margin-top: -1px;
                    transform: rotate(180deg);
                }
            }
            .question {
                cursor: pointer;
                margin-bottom: 1rem;
                font-size: 1rem;
                transition: all .3s;
                font-weight: 500;
            }

            .answer{
                display: none;
                margin-bottom: 0.8rem;
                opacity: 0.8;
            }
        }
    }
}

